<div class="container mainContainer">
    <div class="row">
        <div class="col-12 head">
          <h1>FPAlpha Recruitment Test</h1>
        </div>
    </div>
  <div class="row">
    <div class="col-6">
      <h3>About the test</h3>
      <p>Build a SPA using react/angular with a button that triggers an HTTP request to a Node.JS back-end that
        calculates the answer, send back the answer to the front-end and display the result.<br>
        # There should be a loading gif meanwhile the back-end is processing the answer<br>
        # Deploy your solution in any cloud service you wish(Heroku, AWS, Azure, GCP)<br>
        # Answer this email with your source code within the next 24 hours.<br>
        # The two million above limit should be a dynamic input value in the front-end<br>
      </p>
      <h3>About the candidate</h3>
      <p>
        <b>Name: </b>J. Santiago Vázquez López<br>
        <b>Phone: </b>5512685855<br>
        <b>e-mail: </b>jsantiagovl@hotmail.com<br>
        <b>City: </b>CDMX<br>
      </p>

    </div>
    <div class="col-6">
      <div class="row">
        <div class="col inputDiv">
            <label>Limit: <input type="number" value="2000000" min="2000000" step="5000" [(ngModel)]="limit" name="limit" /></label>
            
        </div>
        <div class="col">
            <button type="button" class="btn btn-success" (click)="calculate()">Calculate</button>
        </div>
      </div>


      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body" style="height:400px; overflow: auto; word-break: break-word;">
              {{hello}}
            </div>
          </div>

        </div>
        <div style="position:absolute; top: 20%; left: 20%;" *ngIf="loading">
          <img src="https://k37.kn3.net/taringa/9/0/8/7/0/5/4/amigacho123/6BA.gif?1482" />
        </div>
      </div>
    </div>
  </div>
</div>