/* You can add global styles to this file, and also import other style files */
.mainContainer{
    margin-top: 5%;
}

.head{
    text-align: center;
    margin-bottom: 38px;
}

.inputDiv{
    padding-bottom: 38px;

}

.inputDiv input{
    height: 38px;
    text-align: center;
}